body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #B7E0FF;
    color: #333;
}

h1,
h2,
h3,
h4 {
    color: #2c3e50;
}

section {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

ul,
ol {
    list-style-type: square;
    padding-left: 20px;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

p {
    margin: 15px 0;
}

iframe {
  display: block;
  margin: 20px auto;
  border: none;
}